{
  "channel": "{{ channelId }}",
  "blocks": [
    {
        "type": "section",
        "text": {
            "type": "mrkdwn",
            "text": "🗓️ Brace yourself! Here comes the *App Secret Expiration Report*"
        }
    },
    {% for b in buckets %}
        {% if b.Secrets|length > 0 %}
            {
                "type": "header",
                "text": {
                    "type": "plain_text",
                    "text": "{{ b.From.Format("2006-01-02") }} – {{ b.To.Format("2006-01-02") }}"
                }
            }
            {% for sec in b.Secrets %}
                ,{
                    "type": "section",
                    "text": {
                        "type": "mrkdwn",
                        "text": "<https://portal.azure.com/#view/Microsoft_AAD_RegisteredApps/ApplicationMenuBlade/~/Credentials/appId/{{ sec.App.AppId }}|*{{ sec.App.DisplayName }}*> / {{ sec.DisplayName }}: {{ sec.EndDateTime.Format("2006-01-02 15:04:05") }}"
                    }
                }
            {% endfor %}
        {% endif %}
    {% endfor %}
    ,{
       "type": "divider"
    }
  ]
}